In [ ]:
                     #Topic :- String based assignment problem .

In [ ]:
'''Q.No_1:- Write a program to reverse a string.'''

In [1]:
#This is the solution of Q.No.1

String = input("enter string for reverse")
Reverse_string= (String[::-1])
print(f"This is reverse string {Reverse_string}")

enter string for reverse Rajput

This is reverse string tupjaR

In [ ]:
'''Q.No.2:-Check if a string is a palindrome.'''

In [2]:
#This is the solution of Q.No.2

def is_palindrome(p):
    p = p.lower()
    p = ''.join(a for a in p if a.isalnum())
    return p == p[::-1]

In [3]:
is_palindrome('surya')

False

In [4]:
is_palindrome('adda')

True

In [ ]:
'''Q.No.3:-Convert a string to uppercase..'''

In [8]:
#This is the solution of Q.No.3

def upper_string():
    p = input('enter string is')
    p = p.upper()
    print (f"This is converted Upper_String;- {p}")

In [9]:
upper_string()

enter string is surya pratap

This is converted Upper_String;- SURYA PRATAP

In [ ]:
'''Q.NO.4:- Convert a string to lowercase.'''

In [10]:
#This is the soution of Q.No.4

input_string = input("enter a string:-")
lower_string = input_string.lower()
print (f"This is LowerCase String:- {lower_string}")

enter a string:- SURYA SINGH

This is LowerCase String:- surya singh

In [ ]:
'''Q.NO.5:- Count the number of vowels in a string.'''

In [11]:
#This is the solution of Q.NO.5

def count_vowels(string):
    vowel_count = 0
    string = string.lower()
    vowels = set("aeiou")
    
    for char in string:
        if char in vowels:
            vowel_count += 1
    return vowel_count

input_string = "My Name Is Surya"
result = count_vowels(input_string)
print(f"Number of Vowels:- {result}")

Number of Vowels:- 5

In [ ]:
'''Q.NO.6:-Count the number of consonants in a string.'''

In [12]:
#This is the solution of Q.NO.6

def count_consonants(string):
    consonant_count = 0
    string = string.lower()
    consonants = set("bcdfghjklmnpqrstvwxyz")
    
    for char in string:
        if char in consonants:
            consonant_count += 1

    return consonant_count

input_string = input("enter a string:-")
result = count_consonants(input_string)
print(f"Number of consonants is:- {result}")

enter a string:- My Name Is Surya

Number of consonants is:- 8

In [ ]:
'''Q.NO.7:- Remove all whitespaces from a string.'''

In [13]:
#This is the solution of Q.NO.7

def remove_whitespace(input_string):
    result=""
    for char in input_string:
        if char != " ":
            result += char

    return result

input_string = "Hello Good Morning"
output_string = remove_whitespace(input_string)
print(f"Removed whitespace :- {output_string}")

Removed whitespace :- HelloGoodMorning

In [ ]:
'''Q.NO.8:- Find the length of a string without using the `len()` function.'''

In [14]:
#This is the solution of Q.No.8

input_string = input("enter a string")
count = 0
for char in input_string:
    count += 1

print(f"The length of the Input_String is {count}")

enter a string MUSKIPUR

The length of the Input_String is 8

In [ ]:
'''Q.NO.9:- Check if a string contains a specific word.'''

In [15]:
#This is the solution of Q.NO.9

input_string = input("enter a string :-")
specific_word = input("enter a specific word")

if specific_word in input_string:
    print(f"The string contains the word:- {specific_word}")

else:
    print(f"The string doesn't contains the word:- {specific_word}")

enter a string :- SURYA Muskipur
enter a specific word @

The string doesn't contains the word:- @

In [ ]:
'''Q.NO.10:- Replace a word in a string with another word.'''

In [17]:
#This is the solution of Q.NO.10

input_string = input("enter a sentence:-")
old_word = input("enter the word to be replaced:-")
new_word = input("enter the new word:-")
print(f"Modifed string is :- {input_string.replace(old_word,new_word)}.")

enter a sentence:- This is a gentle practice singh.
enter the word to be replaced:- singh
enter the new word:- Surya

Modifed string is :- This is a gentle practice Surya..

In [ ]:
''Q.NO.11:- Count the occurrences of a word in a string.''

In [18]:
#This is the solution of Q.No.11

def count_word_occurance(input_string,target_word):
    word_count = 0
    words = input_string.split()
    
    for word in words:
        if word == target_word:
            word_count += 1
    return word_count

result = count_word_occurance("I am surya and I love surya","surya")
print(f"The word 'surya' repeats '{result}' times  in the string.")

The word 'surya' repeats '2' times  in the string.

In [ ]:
''Q.No.12:- Find the first occurrence of a word in a string.''

In [19]:
#This is the solution of Q.NO.12

def find_first_occurance(string,word):
    index = string.find(word)
    if index == -1:
        return None

    return index

result = find_first_occurance("I am writing my own example with own data","own")
print(f"Index of the first occurance 'own' is :- {result}")

Index of the first occurance 'own' is :- 16

In [ ]:
''Q.NO.13:- Find the last occurrence of a word in a string.''

In [20]:
#This is the solution of Q.NO.13

def find_last_occurance(string,word):
    index = string.rfind(word)
    if index == -1:
        return None
    return index

result = find_last_occurance("Hi i am Surya Pratap Singh and my last name is Singh","Singh")
print(f"Index of the Last occurance is:- {result}")

Index of the Last occurance is:- 47

In [ ]:
''Q.NO.14:- Split a string into a list of words.''

In [21]:
#This is the solution of Q.NO.14

def split_string_into_words(text):
    words_list = text.split()
    return words_list
result = split_string_into_words("I am Hero of My Life")
print(f"List of words is :- {result}")

List of words is :- ['I', 'am', 'Hero', 'of', 'My', 'Life']

In [ ]:
''Q.NO.15:- Join a list of words into a string.''

In [22]:
#This is the solution of Q.NO.15

def join_words_into_list(words_list):
    joined_string = ' '.join(words_list)
    return joined_string
words = ["I","Live","In","India"]
result = join_words_into_list(words)
print(f"Joined String is :- {result}")

Joined String is :- I Live In India

In [ ]:
''Q.NO.16:- Convert a string where words are separated by spaces to one where words
are separated by underscores.''

In [23]:
#This is the solution of Q.NO.16

def convert_to_underscore_seperated(text):
    underscore_seperated = text.replace(" ","_")
    return underscore_seperated

text = "I am trying to learn coding"
result = convert_to_underscore_seperated(text)
print(f"Converted Text is :- {result}")

Converted Text is :- I_am_trying_to_learn_coding

In [ ]:
''Q.NO.17:- Check if a string starts with a specific word or phrase.''

In [24]:
#This is the solution of Q.NO.17

def starts_specific(words,specific):
    start = words.startswith(specific)
    return start

words = ("@Very Good Morning")
specific = ("@Very")
result = starts_specific(words,specific)
if result:
    print("The words starts with specific")

else:
    print("The words does not start with specific ")

The words starts with specific

In [ ]:
''Q.NO.18:- Check if a string ends with a specific word or phrase.''

In [25]:
#This is the solution of Q.NO.18

def ends_with(text,suffix):
    end = text.endswith(suffix)
    return end

text = ("Hello Everyone all is well")
suffix = ("well")
result = ends_with(text,suffix)
if result:
    print('The text end with suffix')

else:
    print ("The text does not end with suffix")

The text end with suffix

In [ ]:
''Q.NO.19:- Convert a string to title case (e.g., "hello world" to "Hello World").''

In [26]:
#This is the solution of Q.NO.19

def convert_to_title_case(text):
    title_text = text.title()
    return title_text

text = ("surya pratap singh")
title_result = convert_to_title_case(text)
print(f"Converted title text is :- {title_result}")

Converted title text is :- Surya Pratap Singh

In [ ]:
''Q.NO.20:- Find the longest word in a string.''

In [27]:
#This is the solution f Q.NO.20

def find_longest_word(text):
    words = text.split()
    longest_word = ""
    max_length = 0
    for word in words:
        if len(word) > max_length:
            max_length = len(word)
            longest_word = word

    return longest_word

text = "Hey i am learning Data Science"
longest_word = find_longest_word(text)
print(f"Longest Word is :- {longest_word}")

Longest Word is :- learning

In [ ]:
''Q.NO.21:- Find the shortest word in a string.''

In [28]:
#This is the solution of Q.NO.21

def find_shortest_word(text):
    words = text.split()
    shortest_word = None
    min_length = float('inf')
    
    for word in words:
        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word
    return shortest_word

text = "This is an another sentence for practice coding"
shortest_word = find_shortest_word(text)
print (f"Shortest word is:- {shortest_word}")

Shortest word is:- is

In [ ]:
''Q.NO.22:- Reverse the order of words in a string.''

In [29]:
#This is the solution of Q.No.22

def reverse_orders(text):
    reverse_string = (text[::-1])
    return reverse_string

result = reverse_orders("surya pratap singh")
print ("Reverse String is :-",result)

Reverse String is :- hgnis patarp ayrus

In [ ]:
''Q.NO.23:- Check if a string is alphanumeric.''

In [30]:
#This is the solution of Q.NO.23

def is_alphanumeric(text):
    return text.isalnum()

text = "GoodNight@143@"
result = is_alphanumeric(text)
if result:
    print("The String is AlphaNumeric.")
else:
    print("The String is not AlphaNumeric.")

The String is not AlphaNumeric.

In [ ]:
''Q.NO.24:- Extract all digits from a string.''

In [31]:
#This is the solution of Q.NO.24

def extract_digits(text):
    digits = ""
    for char in text:
        if char.isdigit():
            digits += char
    return digits

text = "I Love 143 my country India143"
result = extract_digits(text)
print("Extracted digits is :-",result)

Extracted digits is :- 143143

In [ ]:
''Q.NO.25:- Extract all alphabets from a string.''

In [32]:
#This is the solution of Q.NO.25

def extract_alpha(text):
    alpha = ""
    for char in text:
        if char.isalpha():
            alpha += char
    return alpha
text = "My Mobile23142536"
result = extract_alpha(text)
print ("Extracted all Alpha is:-",result)

Extracted all Alpha is:- MyMobile

In [ ]:
''Q.NO.26:- Count the number of uppercase letters in a string.''

In [33]:
#This is the solution of Q.NO.26

def count_uppercase(text):
    uppercase_count = sum(1 for char in text if char.isupper())
    return uppercase_count

text = "Hello Good Evening Everyone"
result = count_uppercase(text)
print (f"Upper_case number in string is :- {result}")

Upper_case number in string is :- 4

In [ ]:
''Q.NO.27:- Count the number of lowercase letters in a string.''

In [34]:
#This is the solution of Q.NO.27

def count_lowercase(text):
    lowercase_count = sum(1 for char in text if char.islower())
    return lowercase_count

text = "Hello Good Evening"
result = count_lowercase(text)
print (f"Lower_Case count is :- {result}")

Lower_Case count is :- 13

In [ ]:
''Q.NO.28:- Swap the case of each character in a string.''

In [35]:
#This is the solution of Q.NO.28

def swap_case(text):
    swap_string = text.swapcase()
    return swap_string

text = "Hello Everyone"
result = swap_case(text)
print(f"Swaped_String is :- {result}")

Swaped_String is :- hELLO eVERYONE

In [ ]:
''Q.NO.29:- Remove a specific word from a string.''

In [36]:
#This is the solution of Q.NO.29

def remove_word (input_string,word_to_remove):
    words = input_string.split()
    filtered_words= [word for word in words if word != word_to_remove]
    modified_string = ' '.join(filtered_words)
    return modified_string

input_string = "Hello how are you"
word_to_remove = "are"
result = remove_word(input_string,word_to_remove)
print(f"Removed specific word is :- {result}")

Removed specific word is :- Hello how you

In [ ]:
''Q.NO.30:- Check if a string is a valid email address.''

In [37]:
#This is the solution of Q.NO.30

import re
def check_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern, email):
        return True
    else:
        False

email = "surya78@gmail.com"
result = check_valid_email(email)
print(f"Provided Email is :- {result}")

Provided Email is :- True

In [ ]:
''Q.NO.31:- Extract the username from an email address string.''

In [38]:
#This is the solution of Q.NO.31

def extract_username(email):
    username = email.split('@')[0]
    return username

email = "surya25@gmail.com"
result = extract_username(email)
print(f"Extracted Usename is :- {result}")

Extracted Usename is :- surya25

In [ ]:
''Q.NO.32:- Extract the domain name from an email address string.''

In [39]:
#THIS IS THE SOLUTION OF Q.NO.32

def extract_domain(email):
    domain = email.split("@")[1]
    return domain

email = "surya25@gmail.com"
result = extract_domain(email)
print (f"Extracted Domain is :- {result}")

Extracted Domain is :- gmail.com

In [ ]:
''Q.NO.33:- Replace multiple spaces in a string with a single space.''

In [40]:
#This is the solution of Q.NO.33

def replace_multiple_space(input_string):
    cleaned_string = ' '.join(input_string.split())
    return cleaned_string

input_string = "My       name       is         surya"
result = replace_multiple_space(input_string)
print(f"Replaced Multiple Space is :- {result}")

Replaced Multiple Space is :- My name is surya

In [ ]:
''Q.NO.34:- Check if a string is a valid URL.''

In [41]:
#This is the solution of Q.NO.34

from urllib.parse import urlparse
def valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme,result.netloc])
    except ValueError:
        return False

url = "https://www.google.com"
result = valid_url(url)
print(f"Entered URL is :- {result}")

Entered URL is :- True

In [ ]:
''Q.NO.35:- Extract the protocol (http or https) from a URL string.''

In [42]:
#This is the solution of Q.NO.35

def extract_protocol(url):
    protocol_end = url.find("://")
    if protocol_end != -1:
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

url = "https://www.gmail.com"
protocol = extract_protocol(url)
print(f"Extracted Prorocol is:- '{protocol}'")

Extracted Prorocol is:- 'https'

In [ ]:
''Q.NO.36:- Find the frequency of each character in a string.''

In [43]:
#This is the solution of Q.NO.36

def character_frequency(input_string):
    frequency = {}
    for char in input_string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1
    return frequency
input_str = "Hello Surya"
char_freq = character_frequency(input_str)
for char, freq in char_freq.items():
    print(f"Character:- '{char}', Frequency:- {freq}")

Character:- 'H', Frequency:- 1
Character:- 'e', Frequency:- 1
Character:- 'l', Frequency:- 2
Character:- 'o', Frequency:- 1
Character:- ' ', Frequency:- 1
Character:- 'S', Frequency:- 1
Character:- 'u', Frequency:- 1
Character:- 'r', Frequency:- 1
Character:- 'y', Frequency:- 1
Character:- 'a', Frequency:- 1

In [ ]:
''Q.NO.37:- Remove all punctuation from a string.''

In [44]:
#This is the solution of Q.NO.37

import string

def remove_punctuation(input_string):
    translator = str.maketrans("","", string.punctuation)
    clean_string = input_string.translate(translator)
    return clean_string

input_str = "Hi , This side Surya!?"
cleaned_str = remove_punctuation(input_str)
print(f"Original String is :- {input_str}")
print(f"Cleaned String is:- {cleaned_str}")

Original String is :- Hi , This side Surya!?
Cleaned String is:- Hi  This side Surya

In [ ]:
''Q.NO.38:- Check if a string contains only digits.''

In [45]:
#This is the solution of Q.NO.38

def contains_only_digits(input_string):
    return input_string.isdigit()
       
string1 = "785600"
string2 = "Surya1234"

result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)

print(f"Contains Only Digit is:- {result1}")
print(f"Contains Only Digit is:- {result2}")

Contains Only Digit is:- True
Contains Only Digit is:- False

In [ ]:
''Q.NO.39:- Check if a string contains only alphabets.''

In [46]:
#This is the solution of Q.NO.39

def contains_only_alphabet(input_string):
    return input_string.isalpha()

string = "SURYAPRATAPSINGH"
string1 = "123Surya"

result = contains_only_alphabet(string)
result1 = contains_only_alphabet(string1)

print(f"'{string}' Contains Only Alphabet:- {result}")
print(f"'{string1}' Contains Only Alphabet :- {result1}")

'SURYAPRATAPSINGH' Contains Only Alphabet:- True
'123Surya' Contains Only Alphabet :- False

In [ ]:
''Q.NO.40:- Convert a string to a list of characters.''

In [47]:
#This is the solution of Q.NO.40

def string_to_list(input_str):
    list_str = list(input_str)
    return list_str

input_str = "Hello Good Night"
result = string_to_list(input_str)
print(f"Original String is:- {input_str}")
print(f"List of Character is :- {result}")

Original String is:- Hello Good Night
List of Character is :- ['H', 'e', 'l', 'l', 'o', ' ', 'G', 'o', 'o', 'd', ' ', 'N', 'i', 'g', 'h', 't']

In [ ]:
''Q.NO.41:- Check if two strings are anagrams.''

In [48]:
#This is the solution of Q.NO.41

def check_anagrams(str1,str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    return sorted(str1) == sorted(str2)

str1 = "Surya"
str2 = "Pratap"
str3 = "Singh"
str4 = "Raj"

result1 = check_anagrams(str1 , str2)
result2 = check_anagrams(str3 , str4)
print(f"{str1} and {str2} are anagrams {result1}")
print(f"{str3} and {str4} are anagrams {result2}")

Surya and Pratap are anagrams False
Singh and Raj are anagrams False

In [ ]:
''Q.NO.42:- Encode a string using a Caesar cipher.''

In [49]:
#This is the solution of Q.NO.42

def caesar_cipher(text,shift):
    
  """"
    Encodes a string using a Caesar cipher.

    Args:
      text: The string to encode.
      shift: The number of positions to shift
    Returns:
      The encoded string.
  """
  encoded_text = ""
  # The for loop was indented too far. It should be aligned with the previous line.
  for char in text:
    if char.isalpha():
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      encoded_char = char
    encoded_text += encoded_char
  return encoded_text


text = "Surya,Singh!"
shift = 3
print(f"{caesar_cipher(text,shift)}")

pxubd,plqjk!

In [ ]:
''Q.NO.43:- Decode a Caesar cipher encoded string.''

In [55]:
#This is the solution of Q.NO.43

def caesar_cipher_decoder(text,shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decode string.
    """
    decoded_text = ""
    for char in text:
        if char.isalpha():
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            decoded_char = char
    decoded_text += decoded_char
    return decoded_text

text = "SINGH, SURYAA!"
shift = 3
print(f"{caesar_cipher_decoder(text,shift)}")

!

In [ ]:
''Q.NO.44:- Find the most frequent word in a string.''

In [56]:
#This is the solution of Q.NO.44

import re
from collections import Counter

def most_frequent_word(input_string):
    clean_string = re.sub(r'[^\w\s]','',input_string).lower()
    words = clean_string.split()
    word_counter = Counter(words)
    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word

input_string = "Hello Surya, are you there! How's you?"
most_common = most_frequent_word(input_string)
print(f"Most Frequent word:- '{most_common}'")

Most Frequent word:- 'you'

In [ ]:
''Q.NO.45:- Find all unique words in a string.''

In [57]:
#This is the solution of Q.NO.45

import re

def unique_words(input_str):
    clean_str = re.sub(r'[^\w\s]','',input_str).lower()
    words = set(clean_str.split())
    return words

input_str = "Hi, My name is Surya Pratap! What's your name?"
unique_word_set = unique_words(input_str)
print(f"Unique words is :- {unique_word_set}")

Unique words is :- {'pratap', 'is', 'my', 'surya', 'hi', 'your', 'whats', 'name'}

In [ ]:
''Q.NO.46:- Count the number of syllables in a string.''

In [58]:
#This is the solution of Q.NO.46

import re 

def count_syllables(word):
    vowel_groups = re.findall(r'[aeiou]+', word, re.IGNORECASE)
    return len(vowel_groups)

word1 = "Surya"
word2 = "Pratap"

syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)

print(f"'{word1}' has '{syllables1}' syllables.")
print(f"'{word2}' has '{syllables2}' syllables.")

'Surya' has '2' syllables.
'Pratap' has '2' syllables.

In [ ]:
''Q.NO.47:- Check if a string contains any special characters.''

In [59]:
#This is the solution of Q.NO.47.

import re

def contains_spcl_chrctrs(input_str):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match = pattern.search(input_str)
    return bool(match)

str1 = "Hello, @India!"
str2 = "I am testing"

result1 = contains_spcl_chrctrs(str1)
result2 = contains_spcl_chrctrs(str2)

print(f"'{str1}' contains special caracters:- '{result1}'")
print(f"'{str2}' contains special characters:- '{result2}'")

'Hello, @India!' contains special caracters:- 'True'
'I am testing' contains special characters:- 'False'

In [ ]:
''Q.NO.48:- Remove the nth word from a string.''

In [60]:
#This is the solution of Q.NO.48.

def remove_nth_word(input_str,n):
    words = input_str.split()
    if n >=1 and n <= len(words):
        remove_word = words.pop(n-1)
        modified_str = ' '.join(words)
        return modified_str, remove_word
    else:
        return None, None

input_str = "Surya is writing this code."
n_value = 3
modified_str, remove_word = remove_nth_word(input_str,n_value)

print(f"Original string is :- '{input_str}'")
if modified_str is not None:
    print(f"Modified string is :- '{modified_str}'")
    print(f"Removed word is :- '{remove_word}'")
else:
    print(f"Invalid n value.")

Original string is :- 'Surya is writing this code.'
Modified string is :- 'Surya is this code.'
Removed word is :- 'writing'

In [ ]:
''Q.NO.49:- Insert a word at the nth position in a string.''

In [61]:
#This is the solution of Q.NO.49.

def insert_word(string, word, n):
    if n < 0 or n > len(string):
        return string 
    
    return string[:n] + word + string[n:]

string = "This is Surya"
word = "only"
n = 2
result = insert_word(string,word,n)
print(f"word '{word}' inserted in '{string}' at '{n}' position '{result}'.")

word 'only' inserted in 'This is Surya' at '2' position 'Thonlyis is Surya'.

In [ ]:
''Q.NO.50:- Convert a CSV string to a list of lists.''

In [62]:
#This is the solution of Q.NO.50.

def csv_string_to_list(csv_string):
    lines = csv_string.split('\n')
    result = []
    for line in lines:
        fields = line.split(',')
        result.append(fields)
    return result

csv_data = "Name, Age, Country\nSurya,26,India\nRahul,28,India"

list_of_lists = csv_string_to_list(csv_data)

for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['Surya', '26', 'India']
['Rahul', '28', 'India']

In [ ]:
                          #Topic:- List Based Practice Problem .

In [ ]:
'''Q.NO.1:- Create a list with integers from 1 to 10.'''

In [63]:
#This is the solution of Q.NO.1

integer_list = [i for i in range(1, 11)]
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
''Q.NO.2:- Find the length of a list without using the `len()` function.''

In [64]:
#This is the solution of Q.NO.2

def custom_len(input_list):
    count = 0
    for _ in input_list:
        count += 1
    return count

My_list = [10, 20, 30, 40, 50,60,70]

length = custom_len(My_list)

print("Length of the list is:", length)

Length of the list is: 7

In [ ]:
''Q.NO.3:- Append an element to the end of a list.''

In [65]:
#This is the solution of Q.NO.3

Own_list = [10, 20, 30,40,50,60]

new_element = 70

Own_list.append(new_element)

print("Updated list:", Own_list)

Updated list: [10, 20, 30, 40, 50, 60, 70]

In [ ]:
''Q.NO.4:- Insert an element at a specific index in a list.''

In [66]:
#This is the solution of Q.NO.4

my_list = [10, 20, 30, 40, 50,60,70]

new_element = 23

index_to_insert = 4

my_list.insert(index_to_insert, new_element)

print("Updated list:", my_list)

Updated list: [10, 20, 30, 40, 23, 50, 60, 70]

In [ ]:
''Q.NO.5:- Remove an element from a list by its value.''

In [67]:
#This is the solution of Q.NO.5

my_list = [10, 20, 30, 40, 50,60,70,80]

element_to_remove = 50

my_list.remove(element_to_remove)

print("Updated list:", my_list)

Updated list: [10, 20, 30, 40, 60, 70, 80]

In [ ]:
''Q.NO.6:- Remove an element from a list by its index.''

In [68]:
#This is the solution of Q.NO.6

my_list = [10, 20, 30, 40, 50,60,77,89]


index_to_remove = 6

removed_element = my_list.pop(index_to_remove)

print("Updated list:", my_list)
print("Removed element:", removed_element)

Updated list: [10, 20, 30, 40, 50, 60, 89]
Removed element: 77

In [ ]:
''Q.NO.7:- Check if an element exists in a list.''

In [69]:
#This is the solution of Q.NO.7

my_list = [10, 20, 30, 40, 50,56,89,45]

element_to_check = 56

if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

56 exists in the list.

In [ ]:
''Q.NO.8:- Find the index of the first occurrence of an element in a list.''

In [70]:
#This is the solution of Q.NO.8

my_list = [10, 20, 30, 40, 50, 30,56,98,34,56]

element_to_find = 34

index = my_list.index(element_to_find)

print(f"The index of {element_to_find} is {index}")

The index of 34 is 8

In [ ]:
''Q.NO.9:- Count the occurrences of an element in a list.''

In [71]:
#This is the solution of Q.NO.9

my_list = [10, 20, 30,67, 40, 50, 30, 43,67,46,76,67]

element_to_count = 67

count = my_list.count(element_to_count)

print(f"The element {element_to_count} occurs {count} times in the list.")

The element 67 occurs 3 times in the list.

In [ ]:
''Q.NO.10:- Reverse the order of elements in a list.''

In [72]:
#This is the solution of Q.NO.10

my_list = [10, 26, 38, 40, 76,34,87]

my_list.reverse()

print("Reversed list:", my_list)

Reversed list: [87, 34, 76, 40, 38, 26, 10]

In [ ]:
''Q.NO.11:- Sort a list in ascending order.''

In [73]:
#This is the solution of Q.NO.11

my_list = [67, 10, 57, 36, 20]

my_list.sort()

print("Sorted list in ascending order:", my_list)

Sorted list in ascending order: [10, 20, 36, 57, 67]

In [ ]:
''Q.NO.12:- Sort a list in descending order.''

In [74]:
#This is the solution of Q.NO.12

my_list = [78, 10, 674, 40, 53]

my_list.sort(reverse=True)

print("Sorted list in descending order:", my_list)

Sorted list in descending order: [674, 78, 53, 40, 10]

In [ ]:
''Q.NO.13:- Create a list of even numbers from 1 to 20.''

In [75]:
#This is the solution of Q.NO.13

even_numbers = [x for x in range(2, 21, 2)]

print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
''Q.NO.14:- Create a list of odd numbers from 1 to 20.''

In [76]:
#This is the solution of Q.NO.14

odd_numbers = [x for x in range(1, 21, 2)]

print("List of odd numbers:", odd_numbers)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
''Q.NO.15:- Find the sum of all elements in a list.''

In [77]:
#This is the solution of Q.NO.15

my_list = [16, 28, 30, 97, 40]

total_sum = sum(my_list)

print("Sum of elements:-", total_sum)

Sum of elements:- 211

In [ ]:
''Q.NO.16:- Find the maximum value in a list.''

In [78]:
#This is the solution of Q.NO.16


my_list = [76, 20, 98, 40, 45]

max_value = max(my_list)

print("Maximum value:", max_value)

Maximum value: 98

In [ ]:
''Q.NO.17:- Find the minimum value in a list.''

In [79]:
#This is the solution of Q.NO.17

my_list = [18, 6, 65, 40, 87]

min_value = min(my_list)

print("Minimum value:", min_value)

Minimum value: 6

In [ ]:
''Q.NO.18:- Create a list of squares of numbers from 1 to 10.''

In [80]:
#This is the solution of Q.NO.18

squares = [x ** 2 for x in range(1, 11)]

print("List of squares is:-", squares)

List of squares is:- [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
''Q.NO.19:- Create a list of random numbers.''

In [81]:
#This is the solution of Q.NO.19

import random

random_integers = [random.randint(1, 50) for _ in range(5)]

print("List of random integers:", random_integers)

List of random integers: [11, 21, 24, 3, 11]

In [ ]:
''Q.NO.20:- Remove duplicates from a list.''

In [82]:
#This is the solution of Q.NO.20

my_list = [43, 20, 43, 20, 40, 10, 20, 30]

unique_list = list(set(my_list))

print("List without duplicates:-", unique_list)

List without duplicates:- [40, 10, 43, 20, 30]

In [ ]:
''Q.NO.21:- Find the common elements between two lists.''

In [83]:
#This is the solution of Q.NO.21.

def find_common_elements(list1, list2):
    common_elements = []
    for element in list1:
        if element in list2:
            common_elements.append(element)
    return common_elements

list1 = [56,46,7,9,46,9,73]
list2 = [35,35,78,89,65,46]

common = find_common_elements(list1, list2)
print(f"Common elements: {common}")

Common elements: [46, 46]

In [ ]:
''Q.NO.22:- Find the difference between two lists.''

In [84]:
#This is the solution of Q.NO.22.

list1 = [56,46,7,9,46,9,73]
list2 = [35,35,78,89,65,46]

difference = list(set(list1).difference(list2))

print("Difference between lists:", difference)

Difference between lists: [73, 7, 56, 9]

In [ ]:
''Q.NO.23:- Merge two lists.''

In [85]:
#This is the solution of Q.NO.23.

list1 = [56,46,7,9,46,9,73]
list2 = [35,35,78,89,65,46]

merged_list = list1 + list2

print("Merged list is-:", merged_list)

Merged list is-: [56, 46, 7, 9, 46, 9, 73, 35, 35, 78, 89, 65, 46]

In [ ]:
''Q.NO.24:- Multiply all elements in a list by 2.''

In [86]:
#This is the solution of Q.NO.24.

own_list = [35,35,78,89,65,46]
multiplied_list = [x * 2 for x in own_list]

print("Multiplied list is:-", multiplied_list)

Multiplied list is:- [70, 70, 156, 178, 130, 92]

In [ ]:
''Q.NO.25:- Filter out all even numbers from a list.''

In [87]:
#This is the solution of Q.NO.25.

def filter_even(Numbers):
    return [num for num in Numbers if num % 2 != 0]

Numbers = [70, 75, 156, 179, 130, 93,42,94]
odd_numbers = filter_even(Numbers)
print(odd_numbers)

[75, 179, 93]

In [ ]:
''Q.NO.26:- Convert a list of strings to a list of integers.''

In [88]:
#This is the solution of Q.NO.26.

string_list = ["14", "25", "30", "467", "59"]

integer_list = [int(x) for x in string_list]

print("List of integers:-", integer_list)

List of integers:- [14, 25, 30, 467, 59]

In [ ]:
''Q.NO.27:- Convert a list of integers to a list of strings.''

In [89]:
#This is the solution of Q.NO.27.

integer_list = [70, 75, 156, 179, 130, 93,42,94]

string_list = [str(x) for x in integer_list]

print("List of strings:", string_list)

List of strings: ['70', '75', '156', '179', '130', '93', '42', '94']

In [ ]:
''Q.NO.28:- Flatten a nested list.''

In [90]:
#This is the solution of Q.NO.28.

nested_list = [[4,6,7,3,3], [41, 54], [64, 79, 82, ]]

def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

flattened_list = flatten_list(nested_list)

print("Flattened list:", flattened_list)

Flattened list: [4, 6, 7, 3, 3, 41, 54, 64, 79, 82]

In [ ]:
''Q.NO.29:- Create a list of the first 10 Fibonacci numbers.''

In [91]:
#This is the solution of Q.NO.29.

def generate_fibonacci(n):
    fibonacci_list = [0, 1] 
    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list

fibonacci_numbers = generate_fibonacci(2)

print("First 10 Fibonacci numbers is:-", fibonacci_numbers)

First 10 Fibonacci numbers is:- [0, 1]

In [ ]:
''Q.NO.30:- Check if a list is sorted.''

In [92]:
#This is the solution of Q.NO.30.

def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

ascending_list = [4, 6, 7, 3, 3, 41, 54, 64, 79, 82]

if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is not sorted in ascending order.

In [ ]:
''Q.NO.31:- Rotate a list to the left by `n` positions.''

In [93]:
#This is the solution of Q.NO.31.

def rotate_left(lst, n):
    n = n % len(lst)
    rotated = lst[n:] + lst[:n]
    return rotated

my_list = [4, 6, 7, 3, 3, 41, 54, 64]

n = 2

rotated_list = rotate_left(my_list, n)

print("Rotated list:", rotated_list)

Rotated list: [7, 3, 3, 41, 54, 64, 4, 6]

In [ ]:
''Q.NO.32:- Rotate a list to the right by `n` positions.''

In [94]:
#This is the solution of Q.NO.32.

def rotate_right(lst, n):
    n = n % len(lst)  
    rotated = lst[-n:] + lst[:-n]
    return rotated

my_list = [4,5,3,5,35,53,52,21,54]

n = 2

rotated_list = rotate_right(my_list, n)

print("Rotated list:", rotated_list)

Rotated list: [21, 54, 4, 5, 3, 5, 35, 53, 52]

In [ ]:
''Q.NO.33:- Create a list of prime numbers up to 50.''

In [95]:
#This is the solution of Q.NO.33.

def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True

prime_numbers = [num for num in range(2,30) if is_prime(num)]
print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [ ]:
''Q.NO.34:- Split a list into chunks of size `n`.''

In [96]:
#This is the solution of Q.NO.34.

def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes

prime_numbers = sieve_of_eratosthenes(70)

print("List of prime numbers up to 70:-", prime_numbers)

List of prime numbers up to 70:- [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67]

In [ ]:
''Q.NO.35:- Find the second largest number in a list.''

In [97]:
#This is the solution of Q.NO.35.

my_list = [42,4,6,36,74,73,24,74,99]

sorted_list = sorted(set(my_list))

if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 74

In [ ]:
''Q.NO.36:- Replace every element in a list with its square.''

In [98]:
#This is the solution of Q.NO.36.

my_list = [5,25,67,4,2,8,90]

squared_list = [x ** 2 for x in my_list]

print("Squared list:", squared_list)

Squared list: [25, 625, 4489, 16, 4, 64, 8100]

In [ ]:
''Q.NO.37:- Convert a list to a dictionary where list elements become keys and their indices become values.''

In [99]:
#This is the solution of Q.NO.37.

my_list = ['Surya', 'Pratap', 'Singh', 'Bihar', 'India']

my_dict = {element: index for index, element in enumerate(my_list)}

print("Converted dictionary:", my_dict)

Converted dictionary: {'Surya': 0, 'Pratap': 1, 'Singh': 2, 'Bihar': 3, 'India': 4}

In [ ]:
''Q.NO.38:- Shuffle the elements of a list randomly.''

In [100]:
#This is the solution of Q.NO.38.

import random

my_list = [25, 65, 49, 16, 4, 64, 81]

random.shuffle(my_list)

print("Shuffled list:", my_list)

Shuffled list: [25, 81, 49, 65, 4, 16, 64]

In [ ]:
''Q.NO.39:- Create a list of the first 10 factorial numbers.''

In [101]:
#This is the solution of Q.NO.39.

def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

factorial_numbers = [factorial(i) for i in range(10)]

print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [ ]:
''Q.NO.40:- Check if two lists have at least one element in common.''

In [102]:
#This is the solution of Q.NO.40.

def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

list1 = [35,57,86,46,33,64]
list2 = [47,33,25,53,45,74]

if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [ ]:
''Q.NO.41:- Remove all elements from a list.''

In [103]:
#This is the solution of Q.NO.41.

my_list = [5,35,5,35,36,25,56]

my_list.clear()

print("Empty list:", my_list)

Empty list: []

In [ ]:
''Q.NO.42:- Replace negative numbers in a list with 0.''

In [104]:
#This is the solution of Q.NO.42.

my_list = [34, -65, 78, -19, 47, -28,45,-66]

for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

print("List after replacing negative numbers with 0 is:-", my_list)

List after replacing negative numbers with 0 is:- [34, 0, 78, 0, 47, 0, 45, 0]

In [ ]:
''Q.NO.43:- Convert a string into a list of words.''

In [105]:
#This is the solution of Q.NO.43.

my_string = "Hii My Name is S.P_Singh."

word_list = my_string.split()

print("List of words:", word_list)

List of words: ['Hii', 'My', 'Name', 'is', 'S.P_Singh.']

In [ ]:
''Q,NO.44:- Convert a list of words into a string.''

In [106]:
#This is the solution of Q.NO.44.

word_list = ["Hello,", "Good", "Evenig", "all", "of", "you."]

my_string = " ".join(word_list)

print("Converted string:", my_string)

Converted string: Hello, Good Evenig all of you.

In [ ]:
''Q.NO.45:- Create a list of the first n powers of 2.''

In [107]:
#This is the solution of Q.NO.45.

n = 7

power_list = [2 ** i for i in range(n)]

print("List of the first", n, "powers of 2:", power_list)

List of the first 7 powers of 2: [1, 2, 4, 8, 16, 32, 64]

In [ ]:
''Q.NO.46:- Find the longest string in a list of strings.''

In [108]:
#This is the solution of Q.NO.46.

string_list = ["Hello,", "Good", "Evening", "all", "of", "you."]

longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s

print("Longest string:", longest_string)

Longest string: Evening

In [ ]:
''Q.NO.47:- Find the shortest string in a list of strings.''

In [109]:
#This is the solution of Q.NO.47.

string_list = ["surya", "pratap", "singh", "tata", "nagar"]

shortest_string = string_list[0]  # Initialize with the first string
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s

print("Shortest string:", shortest_string)

Shortest string: tata

In [ ]:
''Q.NO.48:-  Create a list of the first n triangular numbers.''

In [110]:
#This is the solution of Q.NO.48.

def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

n = 7

triangular_list = triangular_numbers(n)

print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 7 triangular numbers: [1, 3, 6, 10, 15, 21, 28]

In [ ]:
''Q.NO.49:- Check if a list contains another list as a subsequence.''

In [111]:
#This is the solution of Q.NO.49.

def is_subsequence(subsequence, main_list):
    subseq_index = 0  
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

main_list = [4,5,3,5,7,8,9,5,46,86]
subsequence = [4,7,78,4]

if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list does not contain the subsequence.

In [ ]:
''Q.NO.50:- Swap two elements in a list by their indices.''

In [112]:
#This is the solution of Q.NO.50.

my_list = [4,23,64,75,4,7,34]

index1 = 4
index2 = 5

temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

print("List after swapping elements:", my_list)

List after swapping elements: [4, 23, 64, 75, 7, 4, 34]

In [ ]:
                                #TOPIC :- Tuple Based Practice Problem :

In [ ]:
''Q.NO.1:- Create a tuple with integers from 1 to 5.''

In [1]:
#This is the solution of Q.NO.1.

my_tuple = (1, 2, 3, 4, 5)
my_tuple

(1, 2, 3, 4, 5)

In [ ]:
''Q.NO.2:-  Access the third element of a tuple.''

In [2]:
#This is the solution of Q.NO.2.

my_tuple = (24,45,65,7,57)

third_element = my_tuple[2]

print("The third element of the tuple is:", third_element)

The third element of the tuple is: 65

In [ ]:
''Q.NO.3:- Find the length of a tuple without using the len() function.''

In [3]:
#This is the solution of Q.NO.3.

my_tuple = (43,75,86,54,35,87,32,36)

count = 0

for _ in my_tuple:
    count += 1

print("The length of the tuple is:", count)

The length of the tuple is: 8

In [ ]:
''Q.NO.4:- Count the occurrences of an element in a tuple.''

In [4]:
#This is the solution of Q.NO.4.

my_tuple = (43,75,86,54,35,87,32,36)

element_to_count = 87

count = 0

for item in my_tuple:
    if item == element_to_count:
        count += 1

print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 87 appears 1 times in the tuple.

In [ ]:
''Q.NO.5:-  Find the index of the first occurrence of an element in a tuple.''

In [5]:
#This is the solution of Q.NO.5.

my_tuple = (43,75,86,54,35,87,32,36)

element_to_find = 86

index = -1  

for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break  

if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")

The first occurrence of 86 is at index 2.

In [ ]:
''Q.NO.6:- Check if an element exists in a tuple.''

In [6]:
#This is the solution of Q.NO.6.

my_tuple = (43,75,86,54,35,87,32,36)

element_to_check = 32

if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

32 exists in the tuple.

In [ ]:
''Q.NO.7:- Convert a tuple to a list.''

In [7]:
#This is the solution of Q.NO.7.

my_tuple = (86,54,35,87,32)

my_list = list(my_tuple)

print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (86, 54, 35, 87, 32)
List: [86, 54, 35, 87, 32]

In [ ]:
''Q.NO.8:- Convert a list to a tuple.''

In [8]:
#This is the solution of Q.NO.8.

my_list = [43,75,86,54,35,87]

my_tuple = tuple(my_list)

print("List:", my_list)
print("Tuple:", my_tuple)

List: [43, 75, 86, 54, 35, 87]
Tuple: (43, 75, 86, 54, 35, 87)

In [ ]:
''Q.NO.9:- Unpack the elements of a tuple into variables.''

In [9]:
#This is the solution of Q.NO.9.

my_tuple = (75,86,54)

var1, var2, var3 = my_tuple

print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 75
var2: 86
var3: 54

In [ ]:
''Q.NO.10:- Create a tuple of even numbers from 1 to 10.''

In [10]:
#This is the solution of Q.NO.10.

even_numbers_list = [num for num in range(2, 11, 2)]  

even_numbers_tuple = tuple(even_numbers_list)

print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

In [ ]:
''Q.NO.11:- Create a tuple of odd numbers from 1 to 10.''

In [11]:
#This is the solution of Q.NO.11.

odd_numbers_tuple = tuple(num for num in range(1, 11) if num % 2 != 0)
odd_numbers_tuple
print("Tuple of odd numbers:", odd_numbers_tuple)

Tuple of odd numbers: (1, 3, 5, 7, 9)

In [ ]:
''Q.NO.12:-  Concatenate two tuples.''

In [12]:
#This is the solution of Q.NO.12.

tuple1 = (13, 25, 32)
tuple2 = (41, 54, 66)

concatenated_tuple = tuple1 + tuple2

print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (13, 25, 32, 41, 54, 66)

In [ ]:
''Q.NO.13:- Repeat a tuple three times.''

In [13]:
#This is the solution of Q.NO.13.

original_tuple = (16, 26, 32)

repeated_tuple = original_tuple * 3

print("Repeated tuple:", repeated_tuple)

Repeated tuple: (16, 26, 32, 16, 26, 32, 16, 26, 32)

In [ ]:
''Q.NO.14:- Check if a tuple is empty.''

In [14]:
#This is the solution of Q.NO.14.

empty_tuple = ()

non_empty_tuple = (17, 24, 33,57)

if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

In [ ]:
''Q.NO.15:- Create a nested tuple.''

In [15]:
#This is the solution of Q.NO.15.

nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
nested_tuple

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [ ]:
''Q.NO.16:- Access the first element of a nested tuple.''

In [16]:
#This is the solution of Q.NO.16.

nested_tuple = ((True, False), (1, 2, 3), ('a', 'b', 'c'))

first_element = nested_tuple[0]

print("First element of the nested tuple:", first_element)

First element of the nested tuple: (True, False)

In [ ]:
''Q.NO.17:- Create a tuple with a single element.''

In [17]:
#This is the solution of Q.NO.17.

single_element_tuple = (87,)  

print("Single element tuple:", single_element_tuple)

Single element tuple: (87,)

In [ ]:
''Q.NO.18:- Compare two tuples.''

In [18]:
#This is the solution of Q.NO.18.

tuple1 = (15, 23, 36)
tuple2 = (15, 21, 48)

print("tuple1 == tuple2:", tuple1 == tuple2)  
print("tuple1 != tuple2:", tuple1 != tuple2)  
print("tuple1 < tuple2:", tuple1 < tuple2)    
print("tuple1 <= tuple2:", tuple1 <= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: False
tuple1 <= tuple2: False

In [ ]:
''Q.NO.19:- Delete a tuple.''

In [19]:
#This is the solution of Q.NO.19.

my_tuple = (14, 23, 32, 45, 56)

del my_tuple

print(my_tuple)  #After execution result will be error because i already deleted my tuple.

NameError: name 'my_tuple' is not defined

In [ ]:
''Q.NO.20:- Slice a tuple.''

In [20]:
#This is the solution of Q.NO.20.

my_tuple = (16, 25, 34, 34, 54, 62, 27, 81, 95, 10)

sliced_tuple = my_tuple[2:5]  

print("Sliced tuple:", sliced_tuple)

Sliced tuple: (34, 34, 54)

In [ ]:
''Q.NO.21:- Find the maximum value in a tuple.''

In [21]:
#This is the solution of Q.NO.21.

my_tuple = (10, 20, 75, 45, 30)

max_value = max(my_tuple)

print("Maximum value:", max_value)

Maximum value: 75

In [ ]:
''Q.NO.22:- Find the minimum value in a tuple.''

In [22]:
#This is the solution of Q.NO.22.

my_tuple = (7,10, 20, 15, 45, 30)

min_value = min(my_tuple)

print("Minimum value:", min_value)

Minimum value: 7

In [ ]:
''Q.NO.23:- Convert a string to a tuple of characters.''

In [23]:
#This is the solution of Q.NO.23.

my_string = "Good, Evening!"

tuple_of_characters = tuple(my_string)

print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('G', 'o', 'o', 'd', ',', ' ', 'E', 'v', 'e', 'n', 'i', 'n', 'g', '!')

In [ ]:
''Q.NO.24:- Convert a tuple of characters to a string.''

In [24]:
#This is the solution of Q.NO.24.

tuple_of_characters = ('G', 'o', 'o', 'd', ',', ' ', 'E', 'v', 'e', 'n', 'i', 'n', 'g', '!')

string_from_tuple = ''.join(tuple_of_characters)

print("String from tuple:", string_from_tuple)

String from tuple: Good, Evening!

In [ ]:
''Q.NO.25:- Create a tuple from multiple data types.''

In [25]:
#This is the solution of Q.NO.25.

mixed_tuple = ("Surya", 69, "Pratap", 25.14, False)

print(mixed_tuple)

('Surya', 69, 'Pratap', 25.14, False)

In [ ]:
''Q.NO.26:- Check if two tuples are identical.''

In [26]:
#This is the solution of Q.NO.26.

tuple1 = (11, 25, 33)
tuple2 = (14, 25, 36)
tuple3 = (14, 25, 36)

are_identical1 = tuple1 == tuple2
are_identical2 = tuple2 == tuple3

print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: False
tuple1 and tuple3 are identical: True

In [ ]:
''Q.NO.27:- Sort the elements of a tuple.''

In [27]:
#This is the solution of Q.NO.27.

my_tuple = (57, 2, 85, 71, 36)

sorted_tuple = tuple(sorted(my_tuple))

print("Sorted tuple:", sorted_tuple)

Sorted tuple: (2, 36, 57, 71, 85)

In [ ]:
''Q.NO.28:- Convert a tuple of integers to a tuple of strings.''

In [28]:
#This is the solution of Q.NO.28.

tuple_of_integers = (14, 23, 35, 42, 25)

tuple_of_strings = tuple(str(item) for item in tuple_of_integers)

print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('14', '23', '35', '42', '25')

In [ ]:
''Q.NO.29:- Convert a tuple of strings to a tuple of integers.''

In [29]:
#This is the solution of Q.NO.29.

tuple_of_strings = ('11', '27', '90', '48', '50')

tuple_of_integers = tuple(int(item) for item in tuple_of_strings)

print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (11, 27, 90, 48, 50)

In [ ]:
''Q.NO.30:- Merge two tuples.''

In [30]:
#This is the solution of Q.NO.30.

tuple1 = (16, 2, 35)
tuple2 = (4, 56, 63)

merged_tuple = tuple1 + tuple2

print("Merged tuple:", merged_tuple)

Merged tuple: (16, 2, 35, 4, 56, 63)

In [ ]:
''Q.NO.31:- Flatten a nested tuple.''

In [31]:
#This is the solution of Q.NO.31.

def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

nested_tuple = ((15, 52), (34, 14, 5), (68, (87, 82)))

flattened_tuple = tuple(flatten_tuple(nested_tuple))

print("Flattened tuple:", flattened_tuple)

Flattened tuple: (15, 52, 34, 14, 5, 68, 87, 82)

In [ ]:
''Q.NO.32:- Create a tuple of the first 5 prime numbers.''

In [32]:
#This is the solution of Q.NO.32.

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

prime_numbers_tuple = tuple(prime_numbers_list)

print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [ ]:
''Q.NO.33:- Check if a tuple is a palindrome.''

In [33]:
#This is the solution of Q.NO.33.

def is_palindrome(tup):
    return tup == tup[::-1]

palindrome_tuple = ('anna')
non_palindrome_tuple = ('surya')

is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

In [ ]:
''Q.NO.34:- Create a tuple of squares of numbers from 1 to 5.''

In [ ]:
#This is the solution of Q.NO.34.

squares_tuple = tuple(x ** 2 for x in range(1, 6))

print("Tuple of squares:", squares_tuple)

In [ ]:
''Q.NO.35:- Filter out all even numbers from a tuple.''

In [34]:
#This is the solution of Q.NO.35.

original_tuple = (11, 22, 33, 43, 125, 26, 72, 85, 92, 101)

filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)

print("Filtered tuple:", filtered_tuple)

Filtered tuple: (11, 33, 43, 125, 85, 101)

In [ ]:
''Q.NO.36:- Multiply all elements in a tuple by 2.''

In [35]:
#This is the solution of Q.NO.36.

original_tuple = (11, 33, 43)

doubled_tuple = tuple(num * 2 for num in original_tuple)

print("Doubled tuple:", doubled_tuple)

Doubled tuple: (22, 66, 86)

In [ ]:
''Q.NO.37:- Create a tuple of random numbers.''

In [36]:
#This is the solution of Q.NO.37.

import random

random_tuple = tuple(random.randint(1, 50) for _ in range(10)) 

print("Random tuple:", random_tuple)

Random tuple: (11, 49, 36, 15, 34, 45, 41, 30, 23, 23)

In [ ]:
''Q.NO.38:- Check if a tuple is sorted.''

In [37]:
#This is the solution of Q.NO.38.

def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

sorted_tuple = (12, 23, 34, 42, 55)
unsorted_tuple = (5, 3, 1, 4, 2)

is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

In [ ]:
''Q.NO.39:- Rotate a tuple to the left by `n` positions.''

In [38]:
#This is the solution of Q.NO.39.

def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

my_tuple = (14, 23, 32, 42, 55)
n_positions = 3
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(42, 55, 14, 23, 32)

In [ ]:
''Q.NO.40:- Rotate a tuple to the right by `n` positions.''

In [41]:
#This is the solution of Q.NO.40.

def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

my_tuple = (12, 22, 43, 34, 55,50)
n_positions = 3
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(34, 55, 50, 12, 22, 43)

In [ ]:
''Q.NO.41:- Create a tuple of the first 5 Fibonacci numbers.''

In [42]:
#This is the solution of Q.NO.41.


def generate_fibonacci(n):
    fibonacci = [0, 1] 
    while len(fibonacci) < n: 
        next_number = fibonacci[-1] + fibonacci[-2] 
        fibonacci.append(next_number)  
    return tuple(fibonacci)  

fibonacci_tuple = generate_fibonacci(5)

print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [ ]:
''Q.NO.42:- Create a tuple from user input.''

In [43]:
#This is the solution of Q.NO.42.

input_str = input("Enter elements separated by commas: ")

input_list = input_str.split(',')

user_tuple = tuple(input_list)

print("User input tuple:", user_tuple)

Enter elements separated by commas:  Hey this is SP Singh

User input tuple: ('Hey this is SP Singh',)

In [ ]:
''Q.NO.43:- Swap two elements in a tuple.''

In [44]:
#This is the solution of Q.NO.43.

my_tuple = (5,7,4,6,78,45,43)

index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

print("Swapped tuple:", swapped_tuple)

Swapped tuple: (5, 6, 4, 7, 78, 45, 43)

In [ ]:
''Q.NO.44:- Reverse the elements of a tuple.''

In [45]:
#This is the solution of Q.NO.44.

my_tuple = (7, 78, 45, 43)

reversed_tuple = my_tuple[::-1]

print("Reversed tuple:", reversed_tuple)

Reversed tuple: (43, 45, 78, 7)

In [ ]:
''Q.NO.45:- Create a tuple of the first `n` powers of 2.''

In [46]:
#This is the solution of Q.NO.45.

n = 7

powers_of_2_tuple = tuple(2 ** i for i in range(n))

print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 7 powers of 2: (1, 2, 4, 8, 16, 32, 64)

In [ ]:
''Q.NO.46:- Find the longest string in a tuple of strings.''

In [47]:
#This is the solution of Q.NO.46.

string_tuple = ("Surya", "Pratap", "Singh", "Japan", "India")

longest_string = max(string_tuple, key=len)

print("Longest string:", longest_string)

Longest string: Pratap

In [ ]:
''Q.NO.47:- Find the shortest string in a tuple of strings.''

In [48]:
#This is the solution of Q.NO.47.

string_tuple = ("Surya", "Pratap", "Singh", "Japan", "India")

shortest_string = min(string_tuple, key=len)

print("Shortest string:", shortest_string)

Shortest string: Surya

In [ ]:
''Q.NO.48:- Create a tuple of the first `n` triangular numbers.''

In [49]:
#This is the solution of Q.NO.48.

n = 8

triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 8 triangular numbers: (1, 3, 6, 10, 15, 21, 28, 36)

In [ ]:
''Q.NO.49:- Check if a tuple contains another tuple as a subsequence.''

In [50]:
#This is the solution of Q.NO.49.

def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

main_tuple = ( 6, 10, 15, 21, 28, 36)

sub_tuple = (1, 3, 6)

contains_subseq = contains_subsequence(main_tuple, sub_tuple)

print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: False

In [ ]:
''Q.NO.50:- Create a tuple of alternating 1s and 0s of length `n`.''

In [51]:
#This is the solution of Q.NO.50.

n = 7

alternating_tuple = tuple(i % 2 for i in range(n))

print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0)

In [ ]:
                               #TOPIC :- SET BASED PROBLEMS.

In [ ]:
''Q.NO.01:- Create a set with integers from 1 to 5.''

In [52]:
#This is the solution of Q.NO.01.

my_set = set()

my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)

print(my_set)## Set based problems:

{1, 2, 3, 4, 5}

In [ ]:
''Q.NO.02:- Add an element to a set.''

In [53]:
#This is the solution of Q.NO.02.

my_set = {56,75,43,35,56,24}

print("Original set:", my_set)

element_to_add = 67
my_set.add(element_to_add)

print("Set after adding element:", my_set)

Original set: {35, 56, 24, 75, 43}
Set after adding element: {35, 67, 56, 24, 75, 43}

In [ ]:
''Q.NO.03:- Remove an element from a set.''

In [54]:
#This is the solution of Q.NO.03.

my_set = {4,53,58,86,24,23}

print("Original Set:", my_set)

element_to_remove = 4

my_set.remove(element_to_remove)

print("Set after removing", element_to_remove, ":", my_set)

Original Set: {4, 53, 86, 23, 24, 58}
Set after removing 4 : {53, 86, 23, 24, 58}

In [ ]:
''Q.NO.04:- Check if an element exists in a set.''

In [55]:
#This is the solution of Q.NO.04.

my_set = {21, 53, 25, 57, 29}

element_to_check = int(input("Enter the element to check: "))

if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

Enter the element to check:  57

57 exists in the set.

In [ ]:
''Q.NO.05:- Find the length of a set without using the `len()` function.''

In [56]:
#This is the solution of Q.NO.05.

my_set = {21, 53, 25, 57, 29}

count = 0

for _ in my_set:
    count += 1

print("Length of the set:", count)

Length of the set: 5

In [ ]:
''Q.NO.06:- Clear all elements from a set.''

In [57]:
#This is the solution of Q.NO.06.

my_set = {21, 53, 25, 57, 29}

print("Original set:", my_set)

my_set.clear()

print("Set after clearing:", my_set)

Original set: {21, 53, 25, 29, 57}
Set after clearing: set()

In [ ]:
''Q.NO.07:- Create a set of even numbers from 1 to 10.''

In [58]:
#This is the solution of Q.NO.07.

even_numbers_set = set()

for num in range(1, 11):
    if num % 2 == 0:
        even_numbers_set.add(num)

print(even_numbers_set)

{2, 4, 6, 8, 10}

In [ ]:
''Q.NO.08:- Create a set of odd numbers from 1 to 10.''

In [59]:
#This is the solution of Q.NO.08.

odd_numbers_set = set()

for num in range(1, 11):
    if num % 2 != 0:
        odd_numbers_set.add(num)

print(odd_numbers_set)

{1, 3, 5, 7, 9}

In [ ]:
''Q.NO.09:- Find the union of two sets.''

In [60]:
#This is the solution of Q.NO.09.

set1 = {34,56,36,24,64,24}
set2 = {24,56,63,74,38,23}

union_result = set1.union(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_result)

Set 1: {64, 34, 36, 24, 56}
Set 2: {56, 38, 23, 24, 74, 63}
Union of Set 1 and Set 2: {64, 34, 36, 38, 74, 23, 24, 56, 63}

In [ ]:
''Q.NO.10:- Find the intersection of two sets.''

In [61]:
#This is the solution of Q.NO.10.

set1 = {13, 42, 53, 44, 52}
set2 = {53, 42, 53, 16, 72}

intersection_result = set1.intersection(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Intersection:", intersection_result)

Set 1: {52, 53, 42, 44, 13}
Set 2: {16, 42, 72, 53}
Intersection: {42, 53}

In [ ]:
''Q.NO.11:- Find the difference between two sets.''

In [62]:
#This is the solution of Q.NO.11.

set1 = {53, 42, 44, 13}
set2 = {16, 42, 72, 53}

difference_set = set1.difference(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Difference:", difference_set)

Set 1: {42, 53, 44, 13}
Set 2: {16, 42, 72, 53}
Difference: {44, 13}

In [ ]:
''Q.NO.12:- Check if a set is a subset of another set.''

In [63]:
#This is the solution of Q.NO.12.


set1 = {44, 13}
set2 = {16, 42, 72, 53}

is_subset = set1.issubset(set2)

print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: False

In [ ]:
''Q.NO.13:- Check if a set is a superset of another set.''

In [65]:
#This is the solution of Q.NO.13.


set1 = {16, 42, 72, 53}
set2 = {42, 53}

is_superset = set1.issuperset(set2)

if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

In [ ]:
''Q.NO.14:- Create a set from a list.''

In [66]:
#This is the solution of Q.NO.14.


my_list = [42, 53 ,16, 42, 72, 53]

my_set = set(my_list)

print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [42, 53, 16, 42, 72, 53]
Set from List: {16, 42, 72, 53}

In [ ]:
''Q.NO.15:- Convert a set to a list.''

In [67]:
#This is the solution of Q.NO.15.


my_set = {42, 53, 16, 42, 72, 53}

my_list = list(my_set)


print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {16, 42, 72, 53}
Converted List: [16, 42, 72, 53]

In [ ]:
''Q.NO.16:- Remove a random element from a set.''

In [68]:
#This is the solution of Q.NO.16.

import random  

my_set = {16, 42, 72, 53}

print("Original set:", my_set)

random_element = random.choice(list(my_set))

my_set.remove(random_element)

print("Updated set after removing", random_element, ":", my_set)

Original set: {16, 42, 72, 53}
Updated set after removing 16 : {42, 72, 53}

In [ ]:
''Q.NO.17:- Pop an element from a set.''

In [69]:
#This is the solution of Q.NO.17.

my_set = {16, 42, 72, 53}

print("Original set:", my_set)

popped_element = my_set.pop()

print("Popped element:", popped_element)

print("Set after popping:", my_set)

Original set: {16, 42, 72, 53}
Popped element: 16
Set after popping: {42, 72, 53}

In [ ]:
''Q.NO.18:- Check if two sets have no elements in common.''

In [70]:
#This is the solution of Q.NO.18.

set1 = {13, 24, 53, 44}
set2 = {25, 46, 17, 38}

common_elements = set1.intersection(set2)

if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

In [ ]:
''Q.NO.19:- Find the symmetric difference between two sets.''

In [72]:
#This is the solution of Q.NO.19.

set1 = {13, 22, 43, 54, 35}
set2 = {47, 53, 36, 37, 81}

symmetric_difference = set1 ^ set2

print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {13, 81, 22, 35, 36, 37, 43, 47, 53, 54}

In [ ]:
''Q.NO.20:-  Update a set with elements from another set.''

In [73]:
#This is the solution of Q.NO.20.

set1 = {12, 24, 23}
print("Set 1:", set1)

set2 = {3, 4, 5}
print("Set 2:", set2)

set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {24, 12, 23}
Set 2: {3, 4, 5}
Updated Set 1: {3, 4, 5, 23, 24, 12}

In [ ]:
''Q.NO.21:- Create a set of the first 5 prime numbers.''

In [74]:
#This is the solution of Q.NO.21.

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_set = set()

num = 2

while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)

    num += 1

print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [ ]:
''Q.NO.22:- Check if two sets are identical.''

In [75]:
#This is the solution of Q.NO.22.

set1 = {12, 32, 23, 34, 25}
set2 = {33, 31, 52, 22, 34}  

if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are not identical.

In [ ]:
''Q.NO.23:- Create a frozen set.''

In [76]:
#This is the solution of Q.NO.23.

elements = [12, 22, 13, 34, 54]

my_frozen_set = frozenset(elements)

print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({34, 12, 13, 54, 22})

In [ ]:
''Q.NO.24:- Check if a set is disjoint with another set.''

In [77]:
#This is the solution of Q.NO.24.

set1 = {13, 22, 43, 54}
set2 = {52, 26, 47, 28}

disjoint_status = set1.isdisjoint(set2)

print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

In [ ]:
''Q.NO.25:- Create a set of squares of numbers from 1 to 5.''

In [78]:
#This is the solution of Q.NO.25.

squares_set = set()

for num in range(1, 6):
    square = num ** 2

    squares_set.add(square)

print(squares_set)

{1, 4, 9, 16, 25}

In [ ]:
''Q.NO.26:- Filter out all even numbers from a set.''

In [79]:
#This is the solution of Q.NO.26.

original_set = {12, 12, 33, 44, 52}

even_numbers_set = set()

for num in original_set:
    if num % 2 == 0:
        even_numbers_set.add(num)

print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {33, 12, 44, 52}
Even Numbers Set: {12, 44, 52}

In [ ]:
''Q.NO.27:- Multiply all elements in a set by 2.''

In [80]:
#This is the solution of Q.NO.27.

original_set = {13, 22, 32, 44, 45}

multiplied_set = set()

for num in original_set:
    multiplied_num = num * 2

    multiplied_set.add(multiplied_num)

print("Original Set:", original_set)

print("Multiplied Set:", multiplied_set)

Original Set: {32, 45, 22, 44, 13}
Multiplied Set: {64, 90, 44, 88, 26}

In [ ]:
''Q.NO.28:- Create a set of random numbers.''

In [81]:
#This is the solution of Q.NO.28.

import random

num_random_numbers = 5

random_number_set = set()
for _ in range(num_random_numbers):
    random_num = random.randint(1, 100)  
    random_number_set.add(random_num)

print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {71, 15, 86, 56, 90}

In [ ]:
''Q.NO.29:- Check if a set is empty.''

In [82]:
#This is the solution of Q.NO.29.

my_set = set()

if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [ ]:
''Q.NO.30:- Create a nested set (hint: use frozenset).''

In [83]:
#This is the solution of Q.NO.30.

set1 = {12, 21, 34, 34, 45}
set2 = {26, 17, 18, 29, 10}

frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

nested_set = {frozen_set1, frozen_set2}

print("Nested Set:", nested_set)

Nested Set: {frozenset({34, 21, 12, 45}), frozenset({17, 18, 26, 10, 29})}

In [ ]:
''Q.NO.31:- Remove an element from a set using the discard method.''

In [84]:
#This is the solution of Q.NO.31.

my_set = {12, 24, 34, 43, 35}

print("Initial set:", my_set)

element_to_remove = 3

my_set.discard(element_to_remove)

print("Set after removing", element_to_remove, ":", my_set)

Initial set: {34, 35, 24, 43, 12}
Set after removing 3 : {34, 35, 24, 43, 12}

In [ ]:
''Q.NO.32:- Compare two sets.''

In [85]:
#This is the solution of Q.NO.32.

set1 = {12, 22, 43, 74, 45}
set2 = {42, 52, 62, 72, 81}

is_subset = set1.issubset(set2)

is_superset = set1.issuperset(set2)

intersection = set1.intersection(set2)

union = set1.union(set2)

difference1 = set1.difference(set2)

difference2 = set2.difference(set1)

print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {22, 74, 43, 12, 45}
Set 2: {81, 52, 72, 42, 62}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: set()
Union: {72, 74, 43, 12, 45, 42, 81, 52, 22, 62}
Elements in set1 but not in set2: {74, 43, 12, 45, 22}
Elements in set2 but not in set1: {72, 42, 81, 52, 62}

In [ ]:
''Q.NO.33:- Create a set from a string.''

In [86]:
#This is the solution of Q.NO.33.

input_string = "surya"

char_set = set(input_string)

print(char_set)

{'a', 'y', 'u', 's', 'r'}

In [ ]:
''Q.NO.34:- Convert a set of strings to a set of integers.''

In [87]:
#This is the solution of Q.NO.34.

string_set = {"45", "46", "79"}

integer_set = set()

for string in string_set:
    integer_value = int(string)

    integer_set.add(integer_value)

print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'79', '45', '46'}
Converted Integer Set: {45, 46, 79}

In [ ]:
''Q.NO.35:- Convert a set of integers to a set of strings.''

In [88]:
#This is the solution of Q.NO.35.

integers_set = {14, 25, 23, 42, 55}

strings_set = set()

for num in integers_set:
    num_str = str(num)

    strings_set.add(num_str)

print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {55, 23, 25, 42, 14}
Converted strings_set: {'14', '55', '25', '42', '23'}

In [ ]:
''Q.NO.36:- Create a set from a tuple.''

In [89]:
#This is the solution of Q.NO.36.

input_tuple = (14, 22, 34, 23, 14, 25, 41)

output_set = set(input_tuple)
print(output_set)

{34, 41, 14, 22, 23, 25}

In [ ]:
''Q.NO.37:- Convert a set to a tuple.''

In [90]:
#This is the solution of Q.NO.37.

input_set = {14, 22, 43, 54, 85}

output_tuple = tuple(input_set)

print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {85, 54, 22, 43, 14}
Converted tuple: (85, 54, 22, 43, 14)

In [ ]:
''Q.NO.38:- Find the maximum value in a set.''

In [91]:
#This is the solution of Q.NO.38.

my_set = {15, 27, 22, 13, 87}

max_value = None

for num in my_set:
    if max_value is None or num > max_value:
        max_value = num  

print("Maximum value:", max_value)

Maximum value: 87

In [ ]:
''Q.NO.39:- Find the minimum value in a set.''

In [92]:
#This is the solution of Q.NO.39.

number_set = {75, 87, 23, 54, 42, 11}

min_value = None

for num in number_set:
    if min_value is None or num < min_value:
        min_value = num

print("The minimum value in the set is:", min_value)

The minimum value in the set is: 11

In [ ]:
''Q.NO.40:- Create a set from user input.''

In [94]:
#This is the solution of Q.NO.40.

user_set = set()

print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  

    if user_input.lower() == 'done':
        break 

    user_set.add(user_input)

print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  Surya, Pratap , Singh
>  history
>  done

Final set: {'history', 'Surya, Pratap , Singh'}

In [ ]:
''Q.NO.41:- Check if the intersection of two sets is empty.''

In [95]:
#This is the solution of Q.NO.41.

set1 = {41, 52, 35, 54, 75}
set2 = {47, 57, 46, 77, 78}

intersection_result = set1.intersection(set2)

if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is empty.

In [ ]:
''Q.NO.42:- Create a set of the first 5 Fibonacci numbers.''

In [96]:
#This is the solution of Q.NO.42.

fibonacci_set = set()

a, b = 0, 1

for _ in range(6):
    fibonacci_set.add(a)

    a, b = b, a + b

print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [ ]:
''Q.NO.43:- Remove duplicates from a list using sets.''

In [98]:
#This is the solution of Q.NO.43.

original_list = [47, 57, 46, 77, 78,57]

unique_set = set(original_list)

unique_list = list(unique_set)

print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [47, 57, 46, 77, 78, 57]
List with Duplicates Removed: [77, 78, 46, 47, 57]

In [ ]:
''Q.NO.44:- Check if two sets have the same elements, regardless of their count.''

In [100]:
#This is the solution of Q.NO.44.

def have_same_elements(set1, set2):
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    return sorted_list1 == sorted_list2

set1 = {15, 25, 34, 22, 21}
set2 = {34, 15, 22,21,25}

result = have_same_elements(set1, set2)

if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [ ]:
''Q.NO.45:- Create a set of the first n powers of 2.''

In [101]:
#This is the solution of Q.NO.45.

def generate_powers_of_2(n):
    powers_of_2 = set()

    for i in range(n):
        power = 2 ** i

        powers_of_2.add(power)

    return powers_of_2

n = 5

powers_set = generate_powers_of_2(n)

print(powers_set)

{1, 2, 4, 8, 16}

In [ ]:
''Q.NO.46:- Find the common elements between a set and a list.''

In [102]:
#This is the solution of Q.NO.46.

my_set = {13, 87, 94, 12, 15}
my_list = [17, 12, 55, 89]

list_to_set = set(my_list)

common_elements = []

for element in my_set:
    if element in list_to_set:
        common_elements.append(element)

print("Common elements:", common_elements)

Common elements: [12]

In [ ]:
''Q.NO.47:- Create a set of the first n triangular numbers.''

In [103]:
#This is the solution of Q.NO.47.

def generate_triangular_numbers(n):
    triangular_numbers = set()  
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2 
        triangular_numbers.add(triangular_number) 
    return triangular_numbers

n = int(input("Enter the value of n: "))

triangular_set = generate_triangular_numbers(n)

print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  25

The set of the first 25 triangular numbers is: {1, 3, 6, 136, 10, 15, 276, 21, 153, 28, 36, 171, 300, 45, 55, 190, 66, 325, 78, 210, 91, 231, 105, 120, 253}

In [ ]:
''Q.NO.48:- Check if a set contains another set as a subset.''

In [104]:
#This is the solution of Q.NO.48.

set1 = {11, 12, 33, 44, 75}
set2 = {33, 44}

is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [ ]:
''Q.NO.49:- Create a set of alternating 1s and 0s of length n.''

In [105]:
#This is the solution of Q.NO.49.

def create_alternating_set(n):
    alternating_set = set()

    for i in range(n):
        if i % 2 == 0:
            alternating_set.add(1) 
        else:
            alternating_set.add(0) 

    return alternating_set

length_n = 10

result = create_alternating_set(length_n)

print(result)

{0, 1}

In [ ]:
''Q.NO.50:- Merge multiple sets into one.''

In [106]:
#This is the solution of Q.NO.50.

set1 = {21, 27, 34}
set2 = {37, 74, 45}
set3 = {45, 68, 47}

merged_set = set1.union(set2, set3)


print("Merged Set:", merged_set)

Merged Set: {34, 68, 37, 74, 45, 47, 21, 27}

In [ ]:
                                                 #THE END.
                                                -----------